<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="ms4SrcFile" value="C:\ms4_incidents.xlsx"/>
    <add key="ms4DestFile" value="C:\ms4_Incident_Tracker.xlsm"/>

    <add key="initiateSrcFile" value="C:\initiate_incidents.xlsx"/>
    <add key="initiateDestFile" value="C:\initiate_Incident_Tracker.xlsm"/>
  </appSettings>
</configuration>